<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="header-TG"></div>
<body>
    <div class="head-cont">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <span>Search Criterion</span>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
<div class="example" style="margin:auto;max-width: 39%;padding-top: 10em;">
  <input type="text" placeholder="Type Characters To Start Search.." name="search2"  [(ngModel)]="textValue" (ngModelChange)="setSearchValue($event)">
  <i class="fa fa-info-circle charValidate" title="Please Enter More Than Three Characters To Search"></i>
  <i class="fa fa-times close-SR"  *ngIf="textValue" (click)="clearResult()"></i>
  <i class="fa fa-search search-SR"  (click)="setSearchValue(textValue)"></i>
</div>
<div class="text-center center-spin" *ngIf="resultValue">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<app-smart-search-results></app-smart-search-results>
<div class="bottom-cont">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <span>Search Criterion</span>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
</body>
</html> 